:root {
    --bgcolor: #242582;
}

* {
    margin: 0;
    padding: 0;
 }

header {
    background-color: hsl(180, 98%, 21%);
    padding: 1.3rem;
    display: flex;
    justify-content: flex-end;
}

.nav-bar a   {
    color: white;
    padding: 1.3rem;
    cursor: pointer;
}
.nav-bar a.active {
    background-color: #f64c72;
}

.menu-icon {
    color: white;
    cursor: pointer;
    display: none;
}
@media screen and (max-width: 850px) {
   .nav-bar {
        display: none;
        position: absolute;
        top: 3.7rem;
        left: 0;
        width: 100%;
        background-color: var(--bgcolor);
        text-align: center;
   }

   .isClicked {
        display: block;
    }
    .nav-bar a {
        display: block;
    }

    .menu-icon {
        display: block;
        z-index: 1;
   }
}

.content {
    align-content: center;
}

.content .login-box {
    width: 30%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: -moz-grid-line;
    border: 5px solid #f64c72;
}

.content .login-box .login-btn {
    width: 20%;
}