:root {
    --bgcolor: #242582;
}

* {
    margin: 0;
    padding: 0;
 }

header {
    background-color: hsl(180, 98%, 21%);
    padding: 1.3rem;
    display: flex;
    justify-content: flex-end;
}

.nav-bar a   {
    color: white;
    padding: 1.3rem;
    cursor: pointer;
}
.nav-bar a.active {
    background-color: #f64c72;
}

.menu-icon {
    color: white;
    cursor: pointer;
    display: none;
}
@media screen and (max-width: 850px) {
    .menu-icon {
        display: block;
   }

   .nav-bar {
        display: none;
   }
}